@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.button-primary {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 7px;
    background: #FF900E;
    margin-top: 22px;
    margin-bottom: 35px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 35px 168px;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    list-style: none;
    margin: 0 0 81px 471px;
    font-weight: 500;
    color: var(--Dark-02, #424242);
    line-height: 18px;
    font-size: 13px;
    gap: 10px;

}

nav>h3 {
    color: #131313;
    font-size: 31.5px;
    font-weight: 700;
    margin-bottom: 71px;

}

.banner {
    text-align: center;


}

.banner-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 200px 22px;
}

.banner-image {
    height: 550px;
    width: 950px;
}

.banner-image>img {
    height: 100%;
    width: 100%;
}