@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

*description {
    color: #727272;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 200px 22px;
}

.button-primary {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 7px;
    background: #FF900E;
    margin-top: 22px;
    margin-bottom: 35px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 35px 168px;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    list-style: none;
    margin: 0 0 81px 471px;
    font-weight: 500;
    color: var(--Dark-02, #424242);
    line-height: 18px;
    font-size: 13px;
    gap: 10px;

}

nav>h3 {
    color: #131313;
    font-size: 31.5px;
    font-weight: 700;
    margin-bottom: 71px;

}

.banner {
    text-align: center;


}

.banner-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}





.banner-image>img {
    height: 100%;
    width: 100%;
}



/*main*/
main {
    padding: 60px 210px 90px;
    color: #131313;

}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;


}

.teams-image-container>img {
    height: 240px;
    width: 240px;
}

.teams-content {
    padding-left: 54px;
}

.quick {
    color: #727272;
    font-size: 35px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 35px;
    font-weight: 700;
}


/*features section*/

.love-and-enjoy {
    display: flex;
    margin-top: 100px;


}

.features-contant {
    padding-right: 40px;
    background-color: #FFF;
}

.features-title {
    color: #131313;
    font-size: 31px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 10px;

}

.small-text {
    color: #727272;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    height: 80px;
    width: 390px;
}

.features-images>img {
    height: 90%;
    width: 100%;
    margin-left: 20px;
   
}

.ten-years-badge{
    color: #FFF;
    background-color: #FF900E;
    border-radius: 5px;
    width:200px ;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge>h3{
    font-size:45px ;
    font-weight: 700;
}

.ten-years-badge>p{
    font-size: 17px;
    font-weight: 500;
}

.facts>h3{
    font-size: 31px;
    font-weight: 700;
    color:#131313 ;
    margin-bottom: 20px;
}

/*facts card*/
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card{
    border-radius: 5px;
    border: 1px solid #FF900E;
    text-align: center;
    font-weight:600 ;
    padding: 20px;
}
.card>h3{
    font-size: 31px;
}
.card>p{
    font-size:15px ;
}

.Sponspors{
    text-align: center;
}

.sponsors-img{
    display: flex;
    justify-content:space-evenly ;
    margin-top: 40px;
    align-items: center;
}

footer>p{
    text-align: center;
    padding: 40px ;
    background-color: #FFF4E7;
    margin: 0 80px 80px;
}


@media only screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .description {
        margin: 0;
    }

    nav>ul {
        flex-direction: row;
        margin: 0;
        gap: 2px;
    }

    .teams-container,.facts-card-container,.sponsors-img {
        flex-direction: column;
    }

    .teams-image-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 30px;
    }

    main{
        padding:60px 0 90px;
    }
    .love-and-enjoy{
        display: grid;
        padding:20px ;
    }

    .facts{
        padding-left: 30px;
    }
    .sponsors-img{
        gap: 20px;
    }
}

@media only screen and (min-width :576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    .description {
        margin: 0;
    }

    nav>ul {
        flex-direction: row;
        margin: 0;
        gap: 2px;
    }

    .teams-container,.facts-card-container, .sponsors-img{
        flex-direction: column;
    }

    .teams-image-container {
        grid-template-columns: 1fr;
    }
    main{
        padding:60px 0 90px;
    }
    .love-and-enjoy{
        display: grid;
        padding:50px ;
    }
    .facts{
        padding-left: 50px;
    }
    .sponsors-img{
        gap: 30px;
    }
}